.red{
    color: rgb(10, 14, 240);
}

.bg-yellow{
    background-color: rgb(238, 238, 12);
}

#firstdiv{
    border: 2px solid black;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
}